!!!
html
	head
		title = "Real time control box"
		script(src='/zepto.js')
		script(src='/main.js')
		script(src='/socket.io/socket.io.js')
	body
		.box(style='width: 100px; height: 100px; margin-left: -50px; left: 50%; position: absolute; background-color: #F09;')